<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new product</title>
</head>
<body>
    <form action="/calorie/newProductExecute/" method="POST">
        {% csrf_token %}
        <label for="name">Product name: </label><br>
        <input id="name" type="text" name="name" value="{{ new_name }}"><br>
        <label for="calories">Calories: </label><br>
        <input id="calories" type="number" name="calories" value="{{ new_calories }}"><br><br>
        <input type="submit" value="Dodaj">
    </form>
</body>
</html>